/*.background1{
    background: url("src/assets/images/fond_login.jpg") no-repeat fixed center;
    background-size: cover;
}*/
.background1 {
    background: red no-repeat fixed center;
    background-size: cover;
}
.background2{
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgba(40, 164, 66,1), rgba(28, 201, 33,0.6) 50% );
}
.card-login {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(36, 38, 37, 0.7);
    box-shadow: 0 0 20px rgba(36, 38, 37, 0.7);
}
