<div class="row">
    <div class="col col-md-3 " >
        <div class="card border-card" style="width: 15rem; ">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title h3 text-color text-center">Appui DMM</h5>
                <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary btn-lg btn-block font-btn ">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col col-md-3">
        <div class="card border-card" style="width: 15rem; ">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title h3 text-color text-center">Appui Finencier</h5>
                <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary btn-lg btn-block font-btn ">Go somewhere</a>
            </div>
        </div>

    </div>
    <div class="col col-md-3">
        <div class="card border-card" style="width: 15rem; ">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title h3 text-color text-center">Simulation CE</h5>
                <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary btn-lg btn-block font-btn ">Go somewhere</a>
            </div>
        </div>

    </div>
    <div class="col col-md-3">
        <div class="card border-card" style="width: 15rem; ">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title h3 text-color text-center">Suivi et encadrement</h5>
                <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary btn-lg btn-block font-btn ">Go somewhere</a>
            </div>
        </div>

    </div>
</div>
